{
  "printWidth": 90,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "useTabs": false
}
